ul li {
    list-style: none;
    display: inline-block;
    margin: 0 70px;
}

h1 {
    text-align: center;
    background-color: violet;
}



.foto {
    display: flex;
    justify-content: center;

}

.foto1 {

    width:40%;
    padding: 60px;

}


body {font-family: Arial}